:root {
  --button: #2a6ea6;
  --box-shadow: #4d6931;
  --pink: #d36c6c;


}

/* FOR HEADER + NAVBAR */
.main {
  font-size: 123px;
  text-shadow: 3px 2px 2px #ef7c8e;

}

/* header */
.title-header {
  background-color: #bbe8d9;
  height: 90px;
}

/* navbar */
.nav {
  background-color: #feedaa;
  color: black;
  font-size: 20px;
}

/* -------------------------------------------- */

body #container {
  margin-top: 35px;
  background-color: #FFFCFF;
  margin-left: 20%;
  margin-right: 20%;
}

button {
  width: 90px;
  cursor: pointer;
  box-shadow: 0px 0px 4px grey;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}


#month-header {
  padding: 10px;
  color: var(--pink);
  font-size: 35px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}

#month-header button {
  background-color: #2a6ea6;
  font-size: 23px;
}

/* -------------------------------------------- */
/* inside the calendar itself */

#weekdays {
  width: 90%;
  display: flex;
  color: #247BA0;
  font-size: 30px;
  justify-content: space-between;
}

#weekdays div {
  padding: 25px 25px 10px 25px;
  margin-left: 5%;
}

#calendar {
  width: 98%;
  margin-left: 6%;
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: 190px;
  padding: 10px;
  height: 135px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px var(--box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 25px;
}

.day:hover {
  background-color: #55bce8;
}

.day+#currentDay {
  background-color: #a8aba8;
}

/* -------------------------------------------- */
/* modal information */

.eventMade {
  font-size: 20px;
  font-weight: 100px;
  padding: 3px 3px 3px 12px;
  background-color: #f5f5f5;
  color: black;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}

.square-padding {
  cursor: default !important;
  background-color: #e3e3e3 !important;

}

#newModal,
#deleteModal {
  display: none;
  z-index: 20;
  padding: 30px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  top: 150px;
  left: calc(55% - 270px);
  position: absolute;
  font-family: sans-serif;
}

#deleteModal {
  left: calc(55% - 270px);
  width: 12%;
}

#newEventTitle {
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 30px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px var(--box-shadow);
  font-size: 20px;
}

#newEventTitle.error {
  border: 2px solid red;
}

#eventText {
  font-size: 20px;
}

#modal-bg {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

/* -------------------------------------------- */
/* modal buttons */


#cancel-Btn,
#delete-Btn {
  background-color: var(--pink);

}

#save-Btn,
#close-Btn {
  background-color: var(--button)
}

#create-btns {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#event-end-btns {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* -------------------------------------------- */
/* Mobile friendly specs */

@media screen and (max-width: 576px) {

  /* title of webpage */
  .main {
    text-align: center;
    font-size: 65px;
  }

  .nav {
    flex-direction: column;
    text-align: center;

  }

  .day {
    flex: 25%;
    flex-direction: column;
    margin: 0;
    text-align: center;
  }

  #month-header {
    flex-direction: column;
    font-size: 30px;
    text-align: center;
  }

  #weekdays {
    display: none;
  }
}