

/* FOR HEADER + NAVBAR */
.main {
  font-size: 123px;
  text-shadow: 3px 2px 2px #ef7c8e;
}

/* header */
.title-header {
  background-color: #bbe8d9;
  height: 90px;
}

/* navbar */
.nav {
  background-color: #feedaa;
  color: black;
}

body #cal-container {
  margin-top: 30px;
}

#cal-header {
  padding: 10px;
  color: #ef7c8e;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-around;
}

#cal-header button {
  background-color: #ef7c8e;
  border-radius: 4px;
  margin: 3px;
  font-size: 20px;
  border: none;
  text-align: center;
  line-height: 32px;
  width: 115px;
}

#weekdays {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* names of weekdays */
#weekdays div {
  padding: 10px;
  font-size: 20px;
}

