/* Header styling */
.header {
    background-color: #bbe8d9;
    height: 90px;
}

/* Main title in header styling */
.main {
    font-size: 123px;
    text-shadow: 3px 2px 2px #ef7c8e;
}

/* navbar */
.nav {
    background-color: #feedaa;
    color: black;
}

/* Clear notes button */
.clearNotes {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 15px;
    justify-content: right;
}

/* Container that holds sidebar and stickynotes section */
.container {
    margin-left: 0;
    font-size: 18px;
    display: flex;
    justify-content: left;
}

/* Weather sidebar */
.weather {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    width: 295px;
    margin-left: 15px;
}

.weatherCard {
    width: 288px;
    height: 600px;
    border: 2px solid darkgrey;
    box-shadow: 3px 2px 2px lightgrey;
}

/* content within the weather sidebar */
.card-body {
    text-align: center;

}

/* card title */
h5 {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #ef7c8e;
}

/* textbox for zip code */
.weatherInput {
    margin: 3px 3px 3px 3px;
}

/* titles for each section (weather) */
h3 {
    font-size: 22px;
    text-decoration: underline;
}

/* sub-titles */
h2 {
    font-size: 18px;
}

/* weather results from API */
.weatherResults {
    font-size: 18px;
}

/* sticky notes */
.addNote {
    background-image: url("./notelanding.png");
    padding: 3rem;
}

/* Stickynote layout */
.stickyNotes {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    position:absolute;
    width: 75%;
    justify-content: left;
    margin-left: 300px;
}

/* Modal Styling */
/* modal Title */
h1 {
    font-size: 20px;
}

/* text box for input */
.notebody {
    width: 470px;
    height: 275px;
}

/* ---------responsive layout--------- */
@media screen and (max-width: 768px) {

    /* Use flex-direction to stack the navbar, sidebar, and body  */
    body,
    .header,
    h1 {
        flex-direction: column;
        display: block;
    }

    /* The header is the blue bar */
    .header {
        height: 25vh;
        width: auto;

    }

    .clearNotes {
        justify-content: center;
    }

    /* Main website Title */
    h1 {
        text-align: center;
    }

    /* The container holds the sticky notes column and the sidebar column */
    .container {
        flex-direction: column;
        display: block;
        min-width: auto;
    }

    /* the weather sidebar */
    .weatherCard {
        height: 500px;
        min-width: auto;
    }

    /* current contents of the weather card. */
    .cardBody {
        display: flex;
        flex-direction: column;
        display: block;
        min-width: auto;
    }

    /* modal */
    .notebody {
        width: 450px;
        height: 275px;
    }

}

@media screen and (max-width: 1024px) {
    body,
    .header,
    h1 {
        flex-direction: column;
        display: block;
    }

    /* The header is the blue bar */
    .header {
        height: 25vh;
        width: auto;

    }

    /* Main website Title */
    h1 {
        text-align: center;
    }
}

@media screen and (max-width: 328px) {
    .clearNotes {
        justify-content: center;
}
.stickyNotes {
    position:static;
    margin:0;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    order:-2;
}
}