/* Header styling */
.header {
    background-color: #bbe8d9;
    height:90px;
}

/* Main title in header styling */
.main {
        font-size: 123px;
        text-shadow: 3px 2px 2px #ef7c8e;
}

/* navbar */
.nav {
    background-color: #feedaa;
    color: black;
}

/* Container that holds sidebar and stickynotes section */
.container {
    margin-left: 0;
    font-size: 18px;
    display: flex;
    justify-content:left;
}

.row {
    display:flex;
    flex: 1;
   
}

.column {
    display: flex;
    
}


/* Weather sidebar */
.weatherCard {
    width: 288px;
    height: 600px;
    border: 2px solid darkgrey;
    box-shadow: 3px 2px 2px lightgrey;
}

/* content within the weather sidebar */
.card-body {
    text-align: center;

}

/* card title */
h5 {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #ef7c8e;
}

/* textbox for zip code */
.weatherInput {
    margin: 3px 3px 3px 3px;
}

/* titles for each section (weather) */
h3 {
    font-size: 22px;
    text-decoration: underline;
}

/* sub-titles */
h2 {
    font-size: 18px;
}

/* weather results from API */
.weatherResults {
    font-size: 18px;
}

/* sticky notes */
.addNote {
    background-image: url("./notelanding.png");
    padding: 3rem;
}