 .column-left {
  float: left;
  
 }

 .column-right {
  float: right;
  
  
 }

 .card-one {
   flex-direction: column;
   display: flex;
   float: left;
   padding: 25px;
   width: 400px;
   border: solid;
   border-color: black;
   
 }

 .card-two {
   flex-direction: column;
   display: flex;
   float: right;
   padding: 25px;
   width: 400px;
   border: solid;
   border-color: black;
   
 }

 .header {
   background-color: #bbe8d9;
   height: 90px;
 }

 .main {
   font-size: 123px;
   text-shadow: 3px 2px 2px #ef7c8e;
 }

 .nav {
   background-color: #feedaa;
   color: black;
 }


/* Tablets */
@media screen and (max-width: 992px) {

  .nav,
  .main,
  body,
  .header,
  .col,
  .col-6,
  h1 {

    flex-direction: column;
    display: block;

  }

  .header {
   height: 15vh;
   width: auto;

}


}

;

/* Large smartphones */
@media screen and (max-width: 768px) {
 
  .nav,
  .main,
  body,
  .header,
  .col,
  .col-6,
  h1 {

    flex-direction: column;
    display: block;

  }

  .header {
   height: 15vh;
   width: auto;

}


}

;

/* Small smartphones */
@media screen and (max-width: 576px) {

  .nav,
  .main,
  body,
  .header,
  .col,
  .col-6,
  h1 {
    flex-direction: column;
    display: block;
  }

  .header {
   height: 15vh;
   width: auto;

}


}

;